<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nafim.ar_tryon_view">

  <uses-permission android:name="android.permission.CAMERA" />

  <!-- Keep AR optional so existing front-camera try-on can still run on non-ARCore devices. -->
  <uses-feature
    android:name="android.hardware.camera.ar"
    android:required="false" />

  <application>
    <meta-data
      android:name="com.google.ar.core"
      android:value="optional" />

    <activity
      android:name=".ar.ArPlacementActivity"
      android:screenOrientation="portrait"
      android:exported="false"
      android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen" />
  </application>
</manifest>
